
<% if admin_signed_in? %>
  <%= link_to 'My Profile' ,  profile_path(:id=>current_admin.id) %>
  <%= form_tag 'admin/post_tweet' do %>
  <p>
      Post Your tweet here :  <br />
      <%= text_field_tag :tweet %>
  </p>

  <p>
      <%= submit_tag 'Tweet it!' %>
  </p>

  <% end %>

  <% @users.each do |c| %>

  <%= link_to c.email , profile_path(:id => c.id) %> <br />
  <% end %>

  <h3> Tweets : </h3>
    <% @flag=true %>
    <%= render partial: 'common/tweet', locals: {tweets: @tweet_all , flag: @flag  } %>
  


  
<% end %>



