<div id="other">
<% if admin_signed_in? %>
  <%= form_tag 'admin/post_tweet' do %>
     Post Your tweet here :<br />
      <%= text_field_tag :tweet %>
      <%= submit_tag 'Tweet it!' %>
  <% end %>

<br /> 
<h3> Other Users : </h3>
<% @users.each do |c| %>
  <%= link_to c.email , profile_path(:id => c.id) %> <br />



<% end %>
</div>

<div id="tweets">
<h3> Tweets : </h3>
<% @flag=true %>
<%= render partial: 'common/tweet', locals: {tweets: @tweet_all , flag: @flag  } %>
</div>

  
<% end %>



